body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #050505;
}
.header {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
}

.header h1 {
    font-family: Arial;
    color: white;
}

.divider {
    background-color: white;
    height: 2px;
    opacity: 40%;
    border-radius: 5px;
    min-width: 90%;
    margin: 2px auto;
}

.canvas-div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}